<mat-toolbar class="max-w-7xl mx-auto border-x flex justify-between ">
    <div>
        <button class="mr-8 hover:bg-indigo-200" mat-icon-button aria-label="Menu icon">
            <mat-icon>menu</mat-icon>
        </button>        
    </div>
    <div class="hidden md:flex md:flex-1">
        <a class="mr-8 hover:text-indigo-700" routerLink="home">Главная</a>
        <a class="mr-8 hover:text-indigo-700" routerLink="about">О нас</a>
        <a class="mr-8 hover:text-indigo-700" routerLink="pricing">Тарифы</a>        
    </div>
    <div>
        <a class="mr-8 hover:text-indigo-700" routerLink="login">Войти</a>
        <button class="mr-8 hover:bg-indigo-200" mat-icon-button aria-label="Menu icon">
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>  
</mat-toolbar>
