<nav class="navbar navbar-expand-lg bg-body-tertiary scrolling-navbar">
    <div class="container">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
            <img class="bi me-2" width="70" height="50" src="../../../assets/img/Quicker-logo.svg"
                alt="Your Company" />
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav fs-6 me-auto mb-2 mb-lg-0">    
            <li class="nav-item">
                <a class="nav-link active" routerLink="home">Главная</a>
            </li>        
          <li class="nav-item">
            <a class="nav-link active" routerLink="budget">Конфигуратор</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              О нас
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="about">О компании</a></li>
              <li><a class="dropdown-item" routerLink="pricing">Тарифы</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex mb-2 mb-lg-0" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success me-4" type="submit">Search</button>
        </form>

        <!-- если не авторизован, то отображаем -->

        <button class="btn btn-outline-primary me-2 col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" routerLink="login"
            type="button">
            Login
        </button>

        <!-- если авторизован, то отображаем -->

        <div class="dropdown text-end">
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle" />
            </a>
            <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" routerLink="budget">Новый расчет</a></li>
                <li><a class="dropdown-item" href="#">Настройки</a></li>
                <li><a class="dropdown-item" href="#">Профиль</a></li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#">Выход</a></li>
            </ul>
        </div>
      </div>
    </div>
  </nav>